* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a0c1b;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-mobile {
    display: none;
}

.container {
    background-color: #1c1938;
    border-radius: 12px;
    box-shadow: 1px 1px 9px -4px rgba(0,0,0,0.77);
    max-width: 60rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: stretch;
    justify-items: center;
    align-items: stretch;
    grid-template-areas:
      "item item1";
}
  
.item { 
    grid-area: item;
    padding: 3.75rem 5rem 1.875rem 3.125rem;
}

.heading {
    margin-bottom: 2rem;
    font-size: 1.990rem;
    font-family: 'Inter', sans-serif;
}

.paragraph {
    color: #7f7d92;
    margin-bottom: 4rem;
}
  
.item1 {
    justify-self: stretch;
    grid-area: item1;
    position: relative;
}

.insights {
    color: #ad5dda;
}

.success {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "success success1 success2"; 
    justify-items: start; 
    align-items: center;
}

.number {
    font-size: 1.188rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.name {
    font-size: 0.800rem;
    color: #7f7d92;
    text-transform: uppercase;
}

.item1{
    background-color: #ad5dda;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

img.img {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: 0.8;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 20px;
    color: white;
}

a {
    color: white;
}

@media only screen and (max-width: 600px) {
    .container {
        display: none;
    }
    .container-mobile {
        background-color: #1c1938;
        max-width: 35rem;
        height: auto;
        margin: 1.5rem;
        border-radius: 12px;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.5fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "item1-m"
        "item-m";
    }
    .item1-m {
        justify-self: stretch; 
        align-self: stretch; 
        grid-area: item1-m; 
        position: relative;
    }
    .item1-m {
        background-color: #ad5dda;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }
    .item-m {
        margin-left: 1.35rem;
        margin-right: 1.35rem;
        text-align: center;
        justify-self: center; 
        align-self: center; 
        grid-area: item-m; 
    }
    .heading-m {
        font-family: 'Inter', sans-serif;
        font-size: 2.1rem;
        padding-top: 1.8rem;
        padding-bottom: 1.1rem;
    }
    .img-m {
        width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: multiply;
        opacity: 0.8;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    .paragraph-m {
        font-size: 1.1rem;
        color: #7f7d92;
        margin-bottom: 2.5rem;
    }
    .number-m {
        font-size: 1.840rem;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        text-align: center;
        margin-bottom: 1.8rem;
        line-height: 0.8;
    }
    .name-m {
        font-size: 0.800rem;
        color: #7f7d92;
        text-transform: uppercase;
    }
    .attribution {
        display: none;
    }
}